--extra-index-url https://download.pytorch.org/whl/cpu
apscheduler
beautifulsoup4
fastapi
feedparser
fyers-apiv3
joblib
numpy
openai
pandas
pandas_market_calendars
psycopg2-binary
pydantic
pyotp
python-dotenv
requests
scikit-learn
supabase
torch
uvicorn[standard]
xgboost
yfinance
httpx
transformers
SQLAlchemy
