fastapi
uvicorn
celery
redis
xgboost
torch
transformers
psycopg2-binary
sqlalchemy
supabase
smartapi-python
python-dotenv
pandas
numpy
pydantic
requests
pyotp
beautifulsoup4
feedparser
lxml

scikit-learn
joblib
yfinance
pandas_market_calendars==4.4.0
